<div class="cover" style="background: url('<%= @circuit.image_url(:full) %>') center no-repeat; background-size: cover;"></div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <%= @circuit.name %><br />
      <a href="<%= root_path %>">Retour</a>
    </div>
  </div>
</div>
